@use './partials/_variable' as *;
@use './partials/utility' as *;
@import "bootstrap/scss/bootstrap";


header {
    & .cart {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

main {

    .featured_products {
        & .price {
            color: $accent_light;
            font-size: 20px;
        }
    }


    & .discount_price {

        margin-right: 0.5rem;

    }

    & .real_price {
        text-decoration: line-through;

    }




}