@use './variable' as *;

.bg_light {
    background-color: $light;
}

.bg_accent_light {
    background-color: $accent_light !important;
}

ul {
    list-style: none;
}

.border_dot {
    border: 1px dotted black;
}