@use './variable' as *;

.bg_light {
    background-color: $light;
}

.cl_dark {
    color: $dark;
}

.bg_accent_light {
    background-color: $accent_light !important;
}

.bg_dark {
    background-color: $darker;
}

.bg_darkest {
    background-color: #2B2E32;
}

ul {
    list-style: none;
}